@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-heading: 'Staatliches', cursive;
    --body-font-style: 'Roboto', sans-serif;
}

h1,h2{
    font-family: var(--main-heading);
}

body{
    font-family: var(--body-font-style);
    font-weight: 500;
}

header{
    padding: 10px;
}

#add-icon{
    color: white;
}

.cards{
    height: 100vh;
    width: 100vw;
}

#description{
    width: 200px;
}

input[type="text"], input[type="number"]{
    border: 1px solid black;
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: 400;
}

input[type="text"]:active{
    outline: none;
}

#new-popup{
    justify-content: flex-start;
    width: 350px;
    height: 350px;
    padding-block: 20px;
    border-radius: 20px;
    display: flex;
    top: 40%;
}

.display{
    display: none;
}

#book-submit{
    margin-top: 10px;
}

.blur{
    filter: blur(5px);
}

.card{
    height: 370px;
}

#trash{
    cursor: pointer;
}